{erl_opts, [debug_info, warnings_as_errors]}.

{deps, []}.

{profiles,
 [{test,
   [{deps, [{proper, "1.5.0"}]},
    {plugins, [rebar3_proper]},
    {erl_opts, [debug_info, nowarn_export_all]}]}]}.

{dialyzer,
 [{warnings, [unmatched_returns, error_handling]},
  {plt_apps, top_level_deps}]}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions]}.

{hex, [{doc, #{provider => edoc}}]}.
